.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

.profile__inner {
  max-width: 410px;
  min-height: 482px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile__title {
  margin: 0 0 123px;
  padding: 0;
  text-align: center;
  font-size: 24px;
  line-height: normal;
  font-weight: 500;
}

.profile__form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.profile__form-fields {
  border: none;
  padding: 0;
  margin: 0;
}

.profile__input-label {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 0 17px;
  padding: 0 0 16px;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  min-height: 14px;
  cursor: text;
  border-bottom: 1px solid var(--gray-border);
}

.profile__input-label:last-of-type {
  border: none;
  padding: 0;
  margin: 0;
}

.profile__input {
  margin: 0;
  padding: 0;
  width: 122px;
  text-align: right;
  font-size: 11px;
  line-height: normal;
  font-weight: 400;
  border: none;
  outline: none;
  background-color: var(--gray-bg);
  color: var(--white);
}

.profile__input::placeholder {
  font-size: 11px;
  line-height: normal;
  font-weight: 400;
}

.profile__input:focus {
  outline: 1px solid var(--gray-border);
}

.profile__buttons {
  display: flex;
  flex-direction: column;
}

.profile__edit-button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 13px;
  line-height: normal;
  font-weight: 400;
  color: var(--white);
  cursor: pointer;
}

.profile__exit-button {
  margin: 16px 0 0;
  padding: 0;
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 13px;
  line-height: normal;
  color: var(--red);
  cursor: pointer;
}

.profile__save-button {
  background-color: var(--blue);
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: normal;
  color: var(--white);
  height: 45px;
  cursor: pointer;
}

.profile__save-button:disabled {
  color: #C2C2C2;
  background: #F8F8F8;
  cursor: not-allowed;
}

.profile__message {
  font-size: 11px;
  line-height: normal;
  font-weight: 400;
  padding: 0;
  margin: 0;
  text-align: center;
  color: var(--red);
  margin: 0 0 20px;
}

@media screen and (max-width: 1023px) {
  .profile__inner {
    min-height: 445px;
    margin-bottom: 35px;
  }

  .profile__title {
    margin-bottom: 96px;
  }

  .profile__button-save {
    margin-top: 210px;
  }
}

@media screen and (max-width: 576px) {
  .profile {
    align-items: stretch;
  }

  .profile__inner {
    margin: 70px 30px 40px;
  }

  .profile__title {
    margin-bottom: 80px;
  }

  .profile__input {
    width: 120px;
  }

  .profile__edit-button {
    font-size: 12px;
    line-height: normal;
  }

  .profile__exit-button {
    font-size: 12px;
    line-height: normal;
  }

}