.title {
  font-size: 22px;
  line-height: normal;
  font-weight: 400;
  letter-spacing: -0.88px;
  padding-bottom: 23px;
  border-bottom: 1px solid var(--gray-title);
  margin: 1px 0 0;
}

@media (max-width: 767px) {
  .title {
    font-size: 18px;
    line-height: normal;
    letter-spacing: -0.72px;
    padding-bottom: 28px;
    margin: 0;
  }
}