.navigation {
  display: flex;
  align-items: center;
  position: relative;
}

.navigation__container {
  display: flex;
  align-items: center;
}

.navigation__burger {
  padding: 0;
  background: url('../../images/burger.svg');
  background-size: cover;
  border: none;
  cursor: pointer;
  display: none;
  margin: 0;
  transition: opacity 0.5s linear;
  width: 44px;
  height: 44px;
  z-index: 20;
}

.navigation__burger_closed {
  background-image: url('../../images/burger-close.svg');
  position: fixed;
  right: 22.5px;
  top: 22.5px;
  width: 22px;
  height: 22px;
}

.navigation__burger:hover {
  opacity: .8;
}

.navigation__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: all .6s ease;
  z-index: 3;
}

.navigation__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-decoration: none;
  color: var(--white);
  display: flex;
  align-items: center;
  transition: all .3s ease;
}

.navigation__link:hover {
  opacity: .7;
}

.navigation__link_type_account {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  padding-left: 30px;
  min-height: 30px;
}

.navigation__link-icon {
  margin-left: 13px;
  background-color: var(--gray-account);
  border-radius: 6px;
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../../images/profile-icon.svg');
}

.navigation__link-icon_landing {
  background-color: var(--blue-account);
}

.navigation__link_active {
  font-weight: 500;
}

.navigation__item_type_mobile {
  display: none;
}

@media screen and (max-width: 800px) {
  .navigation__item_type_mobile {
    display: block;
  }
  .navigation__link_active {
    font-weight: 400;
    padding-bottom: 8px;
    border-bottom: 2px solid var(--white);
  }

  .navigation__burger {
    display: block;
  }

  .navigation__container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .3);
    z-index: 5;
    display: flex;
    justify-content: right;
    visibility: hidden;
    transition: all .3s ease;
  }

  .navigation__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
  }

  .navigation__list {
    flex-direction: column;
    gap: 28px;
    width: 520px;
    height: 100vh;
    background-color: var(--gray-bg);
  }

  .navigation__link_type_account {
    margin: 0;
  }

  .navigation__link-icon_landing {
    background-color: var(--gray-account);
  }

  .navigation__item:last-child {
    margin: auto 0 90px 0;
  }

  .navigation__item:first-child {
    margin-top: 159px;
  }

  .navigation_state_opened {
    right: 0;
    visibility: visible;
  }

  .navigation_state_closed {
    right: -100%;
    visibility: hidden;
  }
}

@media screen and (max-width: 400px) {
  .navigation__list {
    gap: 24px;
    width: 100%;
  }

  .navigation__burger {
    width: 40px;
    height: 43px;
  }

  .navigation__burger_closed {
    top: 14px;
    right: 14px;
    width: 22px;
    height: 22px;
  }

  .navigation__item:first-child {
    margin-top: 144px;
  }

  .navigation__item:last-child {
    margin-bottom: 46px;
  }

  .navigation_state_closed {
    right: -200%;
  }
}