.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 74px;
}

.header_type_landing {
  background-color: var(--dark-blue);
}

.header_hidden {
  display: none;
}

.header_type_main {
  background-color: var(--gray-bg);
}

@media (max-width: 800px) {
  .header__burger {
    display: block;
  }
}

@media (max-width: 450px) {
  .header__container {
    padding: 0 4px;
  }
}