.about-project {
  padding: 110px 0;
}

.about-project__info {
  margin: 70px 0 0;
  display: flex;
  gap: 40px;
}

.about-project__info-title {
  font-size: 20px;
  line-height: normal;
  font-weight: 400;
  letter-spacing: -0.8px;
  margin: 0;
}

.about-project__info-text {
  margin: 26px 0 0;
  font-size: 14px;
  line-height: 1.43;
}

.about-project__time {
  margin: 110px 0 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 14px 0;
}

.about-project__time-header {
  min-height: 36px;
  background-color: var(--gray-light);
  font-size: 14px;
  line-height: normal;
  text-align: center;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-project__time-header_accent {
  background-color: var(--green);
  color: var(--black);
}

.about-project__time-side {
  font-size: 14px;
  line-height: 1.21;
  font-weight: 500;
  text-align: center;
  color: var(--gray-text);
  margin: 0;
}

@media (max-width: 1023px) {
  .about-project {
    padding: 90px 20px;
  }

  .about-project__info {
    gap: 30px;
  }

  .about-project__info-text {
    font-size: 12px;
    line-height: 18px;
    margin-top: 22px;
  }

  .about-project__time {
    margin-top: 93px;
  }

  .about-project__time-side {
    font-weight: 400;
  }
}

@media (max-width: 767px) {
  .about-project {
    padding: 70px 8px;
  }

  .about-project__info {
    margin-top: 60px;
    flex-direction: column;
    gap: 56px;
  }

  .about-project__info-title {
    font-size: 18px;
    line-height: 22px;
  }

  .about-project__info-text {
    font-size: 11px;
    line-height: 16px;
    margin-top: 16px;
  }

  .about-project__time {
    margin-top: 60px;
    grid-template-columns: 1fr 1.84fr;
    gap: 10px 0;
  }

  .about-project__time-side {
    font-weight: 400;
    font-size: 11px;
    line-height: normal;
  }

  .about-project__time-header {
    font-size: 11px;
    line-height: normal;
  }
}