.footer {
  padding: 79px 0 20px;
  box-sizing: border-box;
}

.footer__text {
  font-size: 13px;
  line-height: normal;
  text-align: center;
  color: var(--gray-text);
  margin: 0;
  padding: 0 0 20px;
  border-bottom: 1px solid var(--gray-border);
}

.footer__container {
  margin: 20px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copy {
  font-size: 13px;
  line-height: normal;
}

.footer__links-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 20px;
}

.footer__link {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
  font-size: 13px;
  line-height: normal;
  transition: opacity 0.5s linear;
}

.footer__link:hover {
  opacity: 0.6;
}

@media (max-width: 767px) {
  .footer__text {
    font-size: 12px;
    line-height: 15px;
    padding-bottom: 21px;
  }

  .footer__container {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 30px;
  }

  .footer__links-list {
    margin: 0;
    gap: 12px;
    flex-direction: column;
    align-items: center;
  }

  .footer__copy {
    margin-top: 30px;
    color: var(--gray-text);
    font-size: 12px;
    line-height: 15px;
  }

  .footer__link {
    font-size: 12px;
    line-height: 15px;
  }
}