.auth {
  box-sizing: border-box;
  padding: 70px 15px;
  height: 100vh;
}

.auth__wrapper {
  max-width: 396px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.auth__title {
  margin: 40px 0 0;
  font-weight: 500;
  font-size: 24px;
  line-height: normal;
}

.auth__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  margin: 40px 0 0;
  height: 381px;
}

.auth__form-fields {
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.auth__caption-wrapper {
  display: flex;
  margin-top: 17px;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
}

.auth__caption {
  color: var(--gray-text);
}

.auth__link {
  text-decoration: none;
  color: var(--blue);
  transition: opacity 0.5s linear;
  margin-left: 6px;
  font-size: 14px;
  line-height: normal;
}

.auth__link:hover {
  opacity: 0.7;
}

.auth__button-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto 0 0;
}

.auth__error-message {
  color: var(--red);
  font-weight: 400;
  font-size: 11px;
  line-height: normal;
  text-align: center;
  padding: 0;
  margin: 0 0 20px 0;
  height: 14px;
}

.auth__button {
  width: 100%;
  border: none;
  font-weight: 500;
  font-size: 14px;
  margin-top: 134px;
  min-height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  color: white;
  border-radius: 3px;
  cursor: pointer;
  transition: opacity 0.5s linear;
}

.auth__button:hover {
  opacity: 0.8;
}

.auth__error-message {
  color: var(--red);
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  padding: 0;
  margin: 0 0 20px 0;
}

@media (max-width: 1023px) {
  .auth {
    display: flex;
    align-items: center;
  }

  .auth__form {
    width: 396px;
  }
}

@media (max-width: 767px) {
  .auth {
    display: block;
    padding: 56px 0 30px;
  }

  .auth__wrapper {
    align-items: center;
  }

  .auth__title {
    margin: 50px 0 0;
  }

  .auth__form {
    width: 260px;
    margin: 80px 0 0;
    height: calc(100vh - 312px);
  }

  .auth__button {
    font-size: 12px;
    line-height: 15px;
    padding: 15px;
  }

  .auth__caption {
    font-size: 12px;
    line-height: normal;
  }

  .auth__link {
    font-size: 12px;
    line-height: normal;
  }

  .auth__caption-wrapper {
    margin-top: 14px;
  }
}